.description {
    font-style: italic;
}

.parameter {
    margin-top: 4px;
    margin-bottom: 2px;
}

.pvalue {
    width: 100%;
}

.default-value {
    color: #BBBBBB;
}

.pname {
    margin-left: 5px;
    margin-bottom: -2px;
    font-size: 80%;
    font-weight: bold;
    color: #1C94C4;
}

.required .pname:after {
    content: "*";
}

.invalid .pname {
    color: #B81900;
}

.request-repr-type {
    margin-top: 5px;
}

.request-repr-body {
    width: 200px;
    height: 100px;
    resize: none;
}

.request-controls {
    width: 100%;
    margin-top: 5px;
}

.request-buttons {
    margin-top: 8px;
}

.reset-button, .submit-button {
    margin-left: 1px;
}

.request-controls td {
    vertical-align: top;
}

.request-form {
    width: 200px;
}

.http-request, .http-response {
    width: 200px;
    height: 300px;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    white-space: pre;
    overflow: auto;
}

.in-progress {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-image: url('images/spinner.gif');
    background-position: center;
}

.http-method, .http-status {
    font-weight: bold;
}

.http-headers {
    font-style: italic;
}

.http-body {
    margin-top: 3px;
}

.warning {
    background-color: red;
    color: white;
}

.validating {
    background-color: orange;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}
